<html>
  <head>
    <title>Music Mood Ring - About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='musicmoodring.css')}}" type="text/css">
  </head>
  <body>
    <div class="banner">
      <h1>Music Mood Ring</h1>
    </div><!-- banner -->
    <div class="main"> 
      <p> Music Mood Ring was originally built in about 24 hours at the hack event associated with the <a href="http://rethink-music.com">RE:Think</a> Music Conference in Boston in April, 2012.</p>
      <p> I wanted to see what would happen if I plugged the listening history of my friends into Rovi's album based mood/themes engine </p>
      <p> Recently, I've added some styling to the site and migrated it to a heroku server. </p>
      <p> Any questions or feedback, contact me on twitter <a href="http://twitter.com/bdfife">@BDFife</a>. You can learn more about me by visiting <a href="http://sodesne.com">my site</a>.</p>
      <div class="footer">
        <a href="{{url_for('index')}}">Home</a>
      </div><!-- footer -->
    </div><!-- main -->
  </body>
</html>
