<html>
  <head>
    <title>Music Mood Ring</title>
    <link rel="stylesheet" href="{{url_for('static', filename='hack.css')}}" type="text/css">
    <script type="text/javascript">
      window.onload=setupForm;
      
      function setupForm(event) {
        document.lookupArtist.onsubmit=buildURL;
      }
      
      function buildURL(event) {
        var userID = document.lookupArtist.lfmID.value;
        var base_url = window.location.href
        var full_url = base_url + 'get/mood/' + userID
        void open(full_url, '_self', false)
        return false
      }
    </script
      
  </head>
  <body>
    <div class="main">
      <h1>Music Mood Ring</h1>
  
        <p> Figure out the mood of a last.fm listener based on the themes
        and moods of the albums they are listening to. </p>

        <p> Start with something basic. Check out a LFM recently
        played list by accessing /get/mood/username. </p>

        <p> Please bear in mind that a lot of API queries are made
        when you call this, so it may take a while (10-30s) to
        return. <p>
        
        <form name="lookupArtist" action="">
          <input name="lfmID" type="text" />
          <input type="submit" value="Go!" />
        </form>

    </div><!-- main -->	
  </body>
</html>
