<html>
  <head>
    <title>Music Mood Ring</title>
    <link rel="stylesheet" href="{{url_for('static',
    filename='hack.css')}}" type="text/css">
  </head>
  <body>
    <div class="main">
      <h1>Music Mood Ring</h1>
  
        <p> Figure out the mood of a last.fm listener based on the themes
        and moods of their music </p>

        <p> Start with something basic. Check out a LFM recently
        played list by accessing /get/mood/username. </p>
    </div><!-- main -->	
  </body>
</html>
