<html>
  <head>
    <title>Music Mood Ring - {{ user }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='musicmoodring.css')}}" type="text/css">

  </head>
  <body>
    <div class="banner">
      <h1>Music Mood Ring</h1>
    </div><!-- banner -->
      <div class="main">

        <div class="moods">
        <h3> Here's how {{ user }} is feeling: </h3>
        {% for mood in moods %}
          <p> {{mood}} </p>
        {% endfor %}
        </div>
        <div class="themes">
        <h3> This is what {{ user }} is thinking about: </h3>
        {% for theme in themes %}
          <p> {{theme}} </p>
        {% endfor %} 
        </div> 
        <div class="tracks">
        <h3> Based on the following listening history: </h3>
        {% for track in tracks %}
          <p> {{ track.get("track") }} by {{ track.get("artist") }} on
          {{ track.get("album") }} </p>
        {% endfor %} 
        </div><!-- tracks -->
        <div class="footer">
          <a href="{{url_for('index')}}">Home</a> |
          <a href="{{url_for('about')}}">About</a>
        </div><!-- footer -->
    </div><!-- main -->	
  </body>
</html>
